@media only screen and (max-width: 600px) {
	/* modificaciones del header */
	.header__tittle{
		font-size: 30px;
		padding-top: 1rem;
	}
	.header__logo{
		width: 100px;
	}
	.header__nav{
		padding: 0px;
		.navbar{
			background-color: none;
			height: auto;
			margin-top: 0px;
			font-size: 15px;
			padding: 5px;
		}
	}
	// modificaciones del main index
	/* modificaciones de la seccion de presentacion */
	.presentacion{
		padding-top: 2rem;
		.presentacion__texto{
			font-size: 15px;
		}
	}
	/* modificaciones de la seccion de infoDeLocal */
	.infoDeLocal{
		padding-top: 2rem;
		padding-bottom: 1rem;
		.infoDeLocal__tittle{
			font-size: 30px;
		}
		.infoDeLocal__ubicacion{
			padding-top: 2rem;
			height: 100px;
		}
		.infoDeLocal__video{
			padding-top: 1rem;
			width: 160px;
			height: 130px;
		}
	}
	/* modificaciones del footer */
	.footer{
		padding: 10px 0px;
		.footer__tittle{
			font-size: 15px;
			padding:{
				left: 10px;
				top: 0px;
			}
		}
		.footer__img--modificaciones{
			width: 40px;
			margin: 0px 0.5rem;
		}
	}	
}